.education{
    height : 100% ; 
    width : 100% ; 
    background-color:rgb(31,27,44) ;
    box-sizing: border-box;
    overflow: hidden;
    position : relative ; 
}
.circle1{
    height : 33% ; 
    width : 300px ; 
    position : absolute  ;
    top : 0% ;
    left : 40% ; 
    border-right : 15px dashed white ; 
    box-sizing: border-box;
    border-radius : 50% ; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.circle1-detail{ 
    height : 70px ; 
    width : 150% ;
    box-sizing: border-box;
    border-bottom : 1px solid yellow ;
    color  : white ;
    font-size : .4rem ;
    margin-top : 20% ; 
    margin-right : -1% ;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.circle1-detail > div{
    height : 30% ; 
    width : 100% ; 
    box-sizing: border-box;
}


.circle1::after{
    content: "";
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 46%;
    right: -7%;
}

/* circle two */
.circle2{
    height: 40%;
    width: 400px;
    position: absolute;
    top: 32%;
    left: 42%;
    border-left: 15px dashed white; 
    box-sizing: border-box;
    border-radius: 50%; 
    display: flex;
    flex-direction: column;
}
.circle2-detail{
    height : 80px ; 
    width : 120% ;
    box-sizing: border-box;
    border-bottom : 1px solid yellow ;
    color  : white ;
    font-size : .4rem ;
    margin-top : 20% ; 
    margin-right : -1% ;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.circle2-detail > div{
    height : 30% ; 
    width : 100% ; 
    box-sizing: border-box;
}

.circle2::before{
    content: "";
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 46%;
    left: -5%;
} 
.circle3{
    height: 33%;
    width: 300px;
    position: absolute;
    top: 71%;
    left: 40%;
    border-right: 15px dashed white; 
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.circle3-detail{
    height : 70px ; 
    width : 120% ;
    box-sizing: border-box;
    border-bottom : 1px solid yellow ;
    color  : white ;
    font-size : .4rem ;
    margin-top : 20% ; 
    margin-right : -1% ;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding : 0px ; 
}
.circle3-detail > div{
    height : 30% ; 
    width : 100% ; 
    box-sizing: border-box;
    padding : 0px ; 
} 

.circle3::after{
    content: "";
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 46%;
    right: -7%;
} 

.education1{
    display: none;
}
.driver {
    display: none;
}
/* deleting all height related media queries */

@media screen and (max-width : 800px){
  
    .education{
        height : 100% ; 
        width : 100% ; 
        background-color:rgb(31,27,44) ;
        box-sizing: border-box;
        overflow: hidden;
        position : relative ; 

        /* improvise */
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        /* addition */
    }
    .circle1{
        height : 33% ; 
        width : 300px ; 
        position : absolute  ;
        top : 0% ;
        left : 40% ; 
        border-right : 15px dashed white ; 
        box-sizing: border-box;
        border-radius : 50% ; 
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        /* improvise */
        height : 190px ; 
        width : 80% ; 
        position : static  ;
        border-left : 15px dashed black ;
        border-bottom : 15px dashed white ; 
        border-right : none ;
        border-radius: 5%;

        /* addition  */
        display : none ;

    }
    
    .circle1-detail { 
        height : 100px ; 
        width : 100% ;
        box-sizing: border-box;
        border-bottom : 1px solid yellow ;
        color  : white ;
       
        margin-top : 20% ; 
        margin-right : -1% ;
        text-align: left;
        display: flex;
        flex-direction: column;

        /* improvise */
        height : 100px ; 
        width : 100% ;
        border-bottom : none ;
        /* border : 1px solid white ; */
        font-size : 15.5px ;
        position: relative ;
        top : -35%
    }
    .circle1-detail > div{
        height : 30% ; 
        width : 100% ; 
        box-sizing: border-box;
        padding-left: 20px;
    }
    .circle1::after{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        right: -7%;
        display: none ;
    }
    
    
    .circle1-detail::before{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 15px ;
        left: -25px;

        top : 50% ; 
        left : -4.5% ; 
    }
    
    /* circle two */
    .circle2{
        height: 40%;
        width: 400px;
        position: absolute;
        top: 32%;
        left: 42%;
        border-left: 15px dashed white; 
        box-sizing: border-box;
        border-radius: 50%; 
        display: flex;
        flex-direction: column;

         /* improvise */
         height : 190px ; 
         width : 80% ;  
         position : static  ;
         /* top : 0% ;
         left : 10% ; */
         border : none ;
         border-left : none ;
         border-right : 15px dashed white ;  
         border-radius: 5%;

            /* addition  */
        display : none ;
    }
    .circle2-detail{
        height : 80px ; 
        width : 120% ;
        box-sizing: border-box;
        border-bottom : 1px solid yellow ;
        color  : white ;
       
        margin-top : 20% ; 
       
        text-align: right;
        display: flex;
        flex-direction: column;

        /* improvise */
        border-bottom : none ;
        /* border : 1px solid white ;  */
        width : 100% ;
        padding-right : 20px ; 
        font-size : 16px ;
        position: relative;
        top : -30% ; 
    }
    .circle2-detail > div{
        height : 30% ; 
        width : 100% ; 
        box-sizing: border-box;
    }
    
    .circle2::before{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        left: -5%;
        display: none ;
    } 
    .circle2-detail::before{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 21px;
        right: -22px;
    } 
    .circle3{
        height: 33%;
        width: 300px;
        position: absolute;
        top: 71%;
        left: 40%;
        border-right: 15px dashed white; 
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

         /* improvise */
         height : 190px ; 
         width : 80% ; 
         position : static  ;
         /* top : 0% ;
         left : 10% ; */
         border : none ;
         border-right : none ;
         border-left : 15px dashed white ; 
         border-top : 15px dashed black ; 
         border-radius: 5%;

            /* addition  */
        display : none ;
    }
    
    .circle3-detail{
        height : 70px ; 
        width : 120% ;
        box-sizing: border-box;
        border-bottom : 1px solid yellow ;
        color  : white ;
        font-size : .4rem ;
        margin-top : 20% ; 
        margin-right : -1% ;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding : 0px ; 

          /* improvise */
        border-bottom : none ;
        /* border : 1px solid white ;  */
        height : 70px ; 
        width : 100% ;
        padding-left : 10px ; 
        position: relative;
        top : -35% ; 
    }
    .circle3-detail > div{
        height : 30% ; 
        width : 100% ; 
        box-sizing: border-box;
        padding : 0px ; 
    } 
    
    .circle3-detail::after{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        right: -7%;

        /* imporvise */
        position: absolute;
        top: 27%;
        left: -4%;
    } 

    .circle3::after{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        right: -7%;
        display: none;
    } 

    .education1{
        height : 75% ; 
        width : 80% ; 
        /* background-color: burlywood; */
        box-sizing: border-box;
        border-bottom : 8px dashed white ;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size : 40px ; 
    }

    .educard{
        height : 70% ; 
        width :  70% ; 
        background-color: lightgoldenrodyellow;

        text-align: center;
        font-size : 1em ;
        font-family: 'Supermercado One', cursive;
        /* color : white ;  */
    }

    .traveller {
        position: absolute;
        bottom : 0% ; 
        left : 0% ; 
        color : yellow ; 
        transition: .7s;
        font-size : .8rem ;
       
    }

    .driver {
        letter-spacing: 10px ;
        color : white ; 
        margin-top : 5px ; 
        display: block;
        font-size : 1em ;
    }
}


@media screen and (max-width : 412px) {
  
    .education{
        height : 100% ; 
        width : 100% ; 
        background-color:rgb(31,27,44) ;
        box-sizing: border-box;
        overflow: hidden;
        position : relative ; 

        /* improvise */
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .circle1{
        height : 33% ; 
        width : 300px ; 
        position : absolute  ;
        top : 0% ;
        left : 40% ; 
        border-right : 15px dashed white ; 
        box-sizing: border-box;
        border-radius : 50% ; 
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        /* improvise */
        height : 190px ; 
        width : 80% ; 
        position : static  ;
        border-left : 15px dashed black ;
        border-bottom : 15px dashed white ; 
        border-right : none ;
        border-radius: 5%;

         /* addition  */
         display : none ;
    }
    
    .circle1-detail { 
        height : 100px ; 
        width : 100% ;
        box-sizing: border-box;
        border-bottom : 1px solid yellow ;
        color  : white ;
       
        margin-top : 20% ; 
        margin-right : -1% ;
        text-align: left;
        display: flex;
        flex-direction: column;

        /* improvise */
        height : 100px ; 
        width : 100% ;
        border-bottom : none ;
        /* border : 1px solid white ; */
        font-size : 15.5px ;
        position: relative ;
    }
    .circle1-detail > div{
        height : 30% ; 
        width : 100% ; 
        box-sizing: border-box;
    }
    .circle1::after{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        right: -7%;
        display: none ;
    }
    
    
    .circle1-detail::before{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 25px ;
        left: -25px;
    }
    
    /* circle two */
    .circle2{
        height: 40%;
        width: 400px;
        position: absolute;
        top: 32%;
        left: 42%;
        border-left: 15px dashed white; 
        box-sizing: border-box;
        border-radius: 50%; 
        display: flex;
        flex-direction: column;

         /* improvise */
         height : 190px ; 
         width : 80% ;  
         position : static  ;
         /* top : 0% ;
         left : 10% ; */
         border : none ;
         border-left : none ;
         border-right : 15px dashed white ;  
         border-radius: 5%;

          /* addition  */
        display : none ;
    }
    .circle2-detail{
        height : 80px ; 
        width : 120% ;
        box-sizing: border-box;
        border-bottom : 1px solid yellow ;
        color  : white ;
       
        margin-top : 20% ; 
       
        text-align: right;
        display: flex;
        flex-direction: column;

        /* improvise */
        border-bottom : none ;
        /* border : 1px solid white ;  */
        width : 100% ;
        padding-right : 10px ; 
        font-size : 16px ;
        position: relative;
    }
    .circle2-detail > div{
        height : 30% ; 
        width : 100% ; 
        box-sizing: border-box;
    }
    
    .circle2::before{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        left: -5%;
        display: none ;
    } 
    .circle2-detail::before{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 22px;
        right: -22px;
    } 
    .circle3{
        height: 33%;
        width: 300px;
        position: absolute;
        top: 71%;
        left: 40%;
        border-right: 15px dashed white; 
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

         /* improvise */
         height : 190px ; 
         width : 80% ; 
         position : static  ;
         /* top : 0% ;
         left : 10% ; */
         border : none ;
         border-right : none ;
         border-left : 15px dashed white ; 
         border-top : 15px dashed black ; 
         border-radius: 5%;

          /* addition  */
        display : none ;
    }
    
    .circle3-detail{
        height : 70px ; 
        width : 120% ;
        box-sizing: border-box;
        border-bottom : 1px solid yellow ;
        color  : white ;
        font-size : .4rem ;
        margin-top : 20% ; 
        margin-right : -1% ;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding : 0px ; 

          /* improvise */
        border-bottom : none ;
        /* border : 1px solid white ;  */
        height : 70px ; 
        width : 100% ;
        padding-left : 10px ; 
        position: relative;
    }
    .circle3-detail > div{
        height : 30% ; 
        width : 100% ; 
        box-sizing: border-box;
        padding : 0px ; 
    } 
    
    .circle3-detail::after{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        right: -7%;

        /* imporvise */
        position: absolute;
        top: 25%;
        left: -8%;
    } 

    .circle3::after{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        right: -7%;
        display: none;
    } 

    .education1{
        height : 75% ; 
        width : 80% ; 
        /* background-color: burlywood; */
        box-sizing: border-box;
        border-bottom : 8px dashed white ;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size : 30px ; 
    }
    .educard{
        height : 70% ; 
        width :  70% ; 
        background-color: lightgoldenrodyellow;

        text-align: center;
        font-size : 1em ;
        font-family: 'Supermercado One', cursive;
    }

    .traveller {
        position: absolute;
        bottom : 0% ; 
        left : 0% ; 
        color : yellow ; 
        transition: .7s;
        font-size : .8em ;
       
    }

    .driver {
        letter-spacing: 10px ;
        color : white ; 
        margin-top : 5px ; 
        display: block;
        font-size : .8em ;
    }
}

@media screen and (max-width : 375px) {
  
    .education{
        height : 100% ; 
        width : 100% ; 
        background-color:rgb(31,27,44) ;
        box-sizing: border-box;
        overflow: hidden;
        position : relative ; 

        /* improvise */
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .circle1{
        height : 33% ; 
        width : 300px ; 
        position : absolute  ;
        top : 0% ;
        left : 40% ; 
        border-right : 15px dashed white ; 
        box-sizing: border-box;
        border-radius : 50% ; 
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        /* improvise */
        height : 190px ; 
        width : 80% ; 
        position : static  ;
        border-left : 15px dashed black ;
        border-bottom : 15px dashed white ; 
        border-right : none ;
        border-radius: 5%;

         /* addition  */
         display : none ;
    }
    
    .circle1-detail { 
        height : 100px ; 
        width : 100% ;
        box-sizing: border-box;
        border-bottom : 1px solid yellow ;
        color  : white ;
       
        margin-top : 20% ; 
        margin-right : -1% ;
        text-align: left;
        display: flex;
        flex-direction: column;

        /* improvise */
        height : 100px ; 
        width : 100% ;
        border-bottom : none ;
        /* border : 1px solid white ; */
        font-size : 15.5px ;
        position: relative ;
    }
    .circle1-detail > div{
        height : 30% ; 
        width : 100% ; 
        box-sizing: border-box;
    }
    .circle1::after{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        right: -7%;
        display: none ;
    }
    
    
    .circle1-detail::before{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 25px ;
        left: -25px;
    }
    
    /* circle two */
    .circle2{
        height: 40%;
        width: 400px;
        position: absolute;
        top: 32%;
        left: 42%;
        border-left: 15px dashed white; 
        box-sizing: border-box;
        border-radius: 50%; 
        display: flex;
        flex-direction: column;

         /* improvise */
         height : 190px ; 
         width : 80% ;  
         position : static  ;
         /* top : 0% ;
         left : 10% ; */
         border : none ;
         border-left : none ;
         border-right : 15px dashed white ;  
         border-radius: 5%;

          /* addition  */
        display : none ;
    }
    .circle2-detail{
        height : 80px ; 
        width : 120% ;
        box-sizing: border-box;
        border-bottom : 1px solid yellow ;
        color  : white ;
       
        margin-top : 20% ; 
       
        text-align: right;
        display: flex;
        flex-direction: column;

        /* improvise */
        border-bottom : none ;
        /* border : 1px solid white ;  */
        width : 100% ;
        padding-right : 10px ; 
        font-size : 16px ;
        position: relative;
    }
    .circle2-detail > div{
        height : 30% ; 
        width : 100% ; 
        box-sizing: border-box;
    }
    
    .circle2::before{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        left: -5%;
        display: none ;
    } 
    .circle2-detail::before{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 22px;
        right: -22px;
    } 
    .circle3{
        height: 33%;
        width: 300px;
        position: absolute;
        top: 71%;
        left: 40%;
        border-right: 15px dashed white; 
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

         /* improvise */
         height : 190px ; 
         width : 80% ; 
         position : static  ;
         /* top : 0% ;
         left : 10% ; */
         border : none ;
         border-right : none ;
         border-left : 15px dashed white ; 
         border-top : 15px dashed black ; 
         border-radius: 5%;

          /* addition  */
        display : none ;
    }
    
    .circle3-detail{
        height : 70px ; 
        width : 120% ;
        box-sizing: border-box;
        border-bottom : 1px solid yellow ;
        color  : white ;
        font-size : .4rem ;
        margin-top : 20% ; 
        margin-right : -1% ;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding : 0px ; 

          /* improvise */
        border-bottom : none ;
        /* border : 1px solid white ;  */
        height : 70px ; 
        width : 100% ;
        padding-left : 10px ; 
        position: relative;
    }
    .circle3-detail > div{
        height : 30% ; 
        width : 100% ; 
        box-sizing: border-box;
        padding : 0px ; 
    } 
    
    .circle3-detail::after{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        right: -7%;

        /* imporvise */
        position: absolute;
        top: 25%;
        left: -8%;
    } 

    .circle3::after{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        right: -7%;
        display: none;
    } 

    .education1{
        height : 75% ; 
        width : 80% ; 
        /* background-color: burlywood; */
        box-sizing: border-box;
        border-bottom : 8px dashed white ;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size : 26px ; 
    }
    .educard{
        height : 70% ; 
        width :  70% ; 
        background-color: lightgoldenrodyellow;

        text-align: center;
        font-size : 1em ;
        font-family: 'Supermercado One', cursive;
    }

    .traveller {
        position: absolute;
        bottom : 0% ; 
        left : 0% ; 
        color : yellow ; 
        transition: .7s;
        font-size : .8em ;
       
    }

    .driver {
        letter-spacing: 10px ;
        color : white ; 
        margin-top : 5px ; 
        display: block;
        font-size : 1em ;
    }
}


@media screen and (max-width : 360px) {
  
    .education{
        height : 100% ; 
        width : 100% ; 
        background-color:rgb(31,27,44) ;
        box-sizing: border-box;
        overflow: hidden;
        position : relative ; 

        /* improvise */
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .circle1{
        height : 33% ; 
        width : 300px ; 
        position : absolute  ;
        top : 0% ;
        left : 40% ; 
        border-right : 15px dashed white ; 
        box-sizing: border-box;
        border-radius : 50% ; 
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        /* improvise */
        height : 190px ; 
        width : 80% ; 
        position : static  ;
        border-left : 15px dashed black ;
        border-bottom : 15px dashed white ; 
        border-right : none ;
        border-radius: 5%;

         /* addition  */
         display : none ;
    }
    
    .circle1-detail { 
        height : 100px ; 
        width : 100% ;
        box-sizing: border-box;
        border-bottom : 1px solid yellow ;
        color  : white ;
       
        margin-top : 20% ; 
        margin-right : -1% ;
        text-align: left;
        display: flex;
        flex-direction: column;

        /* improvise */
        height : 100px ; 
        width : 100% ;
        border-bottom : none ;
        /* border : 1px solid white ; */
        font-size : 15.5px ;
        position: relative ;
    }
    .circle1-detail > div{
        height : 30% ; 
        width : 100% ; 
        box-sizing: border-box;
    }
    .circle1::after{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        right: -7%;
        display: none ;
    }
    
    
    .circle1-detail::before{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 25px ;
        left: -25px;
    }
    
    /* circle two */
    .circle2{
        height: 40%;
        width: 400px;
        position: absolute;
        top: 32%;
        left: 42%;
        border-left: 15px dashed white; 
        box-sizing: border-box;
        border-radius: 50%; 
        display: flex;
        flex-direction: column;

         /* improvise */
         height : 190px ; 
         width : 80% ;  
         position : static  ;
         /* top : 0% ;
         left : 10% ; */
         border : none ;
         border-left : none ;
         border-right : 15px dashed white ;  
         border-radius: 5%;

          /* addition  */
        display : none ;
    }
    .circle2-detail{
        height : 80px ; 
        width : 120% ;
        box-sizing: border-box;
        border-bottom : 1px solid yellow ;
        color  : white ;
       
        margin-top : 20% ; 
       
        text-align: right;
        display: flex;
        flex-direction: column;

        /* improvise */
        border-bottom : none ;
        /* border : 1px solid white ;  */
        width : 100% ;
        padding-right : 10px ; 
        font-size : 16px ;
        position: relative;
    }
    .circle2-detail > div{
        height : 30% ; 
        width : 100% ; 
        box-sizing: border-box;
    }
    
    .circle2::before{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        left: -5%;
        display: none ;
    } 
    .circle2-detail::before{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 22px;
        right: -22px;
    } 
    .circle3{
        height: 33%;
        width: 300px;
        position: absolute;
        top: 71%;
        left: 40%;
        border-right: 15px dashed white; 
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

         /* improvise */
         height : 190px ; 
         width : 80% ; 
         position : static  ;
         /* top : 0% ;
         left : 10% ; */
         border : none ;
         border-right : none ;
         border-left : 15px dashed white ; 
         border-top : 15px dashed black ; 
         border-radius: 5%;

          /* addition  */
        display : none ;
    }
    
    .circle3-detail{
        height : 70px ; 
        width : 120% ;
        box-sizing: border-box;
        border-bottom : 1px solid yellow ;
        color  : white ;
        font-size : .4rem ;
        margin-top : 20% ; 
        margin-right : -1% ;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding : 0px ; 

          /* improvise */
        border-bottom : none ;
        /* border : 1px solid white ;  */
        height : 70px ; 
        width : 100% ;
        padding-left : 10px ; 
        position: relative;
    }
    .circle3-detail > div{
        height : 30% ; 
        width : 100% ; 
        box-sizing: border-box;
        padding : 0px ; 
    } 
    
    .circle3-detail::after{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        right: -7%;

        /* imporvise */
        position: absolute;
        top: 25%;
        left: -8%;
    } 

    .circle3::after{
        content: "";
        height: 25px;
        width: 25px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 46%;
        right: -7%;
        display: none;
    } 
    .education1{
        height : 75% ; 
        width : 80% ; 
        /* background-color: burlywood; */
        box-sizing: border-box;
        border-bottom : 8px dashed white ;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size : 25px ; 
    }
}
