.project {
    height : 100% ;
    width : 100% ; 

    background-color:rgb(31,27,44) ;

    overflow: hidden;
}

.projectWrapper {
    height : 100% ; 
    width : 101.2% ; 
    background-color:rgb(31,27,44) ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

    overflow-x: hidden;
    overflow-y: scroll;
}
.projectWrapper > div {
    height : 400px ; 
    width : 250px ; 

    background-color: white; 

    margin : 50px ; 
    /* box-shadow: 5px 5px 5px 5px black ; */

  
    background-color: grey;
    color : white ;
   
}

/* project Image css */
.project-image {
    height : 150px ; 
    width  : 100% ; 
    /* background-color: red; */
}
.project-image img {
    height : 100% ; 
    width : 100% ; 
}
/* project name css */
.project-name {
    height : 32px ; 
    width : 100% ; 
    /* background-color: red; */
    font-size : 25px ; 
    text-align: center;
    box-sizing: border-box;
    margin-bottom : 5px ; 
}
/* project tech Stack  */
.project-techStack {
    width : 100% ; 
    height : auto ; 
    /* background-color: gold; */
    font-size : 20px ; 
    padding-left : 10px ;
    padding-right : 10px ; 
    /* border-bottom: 2px solid black; */
    box-sizing: border-box; 
    margin-bottom : 10px ; 
    
}
.techStackName {
    font-size : 18px
}

/* project description css */
.project-description {
    font-size : 18px ; 
    padding-left : 10px ; 
    padding-right : 10px ; 
    /* background-color: greenyellow; */
    /* border-bottom: 2px solid black; */
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
  
}

/* project navigation css */
.project-navigation {
    height : 50px ; 
    width : 100% ; 
    /* background-color: purple; */
    box-sizing: border-box;


    display: flex;
    flex-direction: row;
  

}
.project-navigation > div {
    width : 100% ; 
}
.project-code {
    
    box-sizing: border-box;
    font-size : 25px ;
    line-height: 50px;
    text-align: center;
}
.project-link {
 
    box-sizing: border-box; 
    font-size : 25px ;
    line-height: 50px;
    text-align: center;
    color : blue ; 
}

.project-code a , 
.project-link a {
    text-decoration: none;
}
.project-info {

    box-sizing: border-box; 
    font-size : 25px ;
    line-height: 50px;
    text-align: center;
    color : blue ;
}



/* New Project Css */




