.project {
    height : 100% ;
    width : 100% ; 

    background-color:rgb(31,27,44) ;

    overflow: hidden;
}

.projectWrapper {
    height : 100% ; 
    width : 101.2% ; 
    background-color:rgb(31,27,44) ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

    overflow-x: hidden;
    overflow-y: scroll;

    font-size : 30px ; 
}
.projectWrapper > div {
    height : 400px ; 
    width : 250px ; 

    background-color: white; 

    margin : 50px ; 
    /* box-shadow: 5px 5px 5px 5px whitesmoke ; */

  
    background-color: transparent;
    color : white ;
    border : 2px solid white ;
   
}

/* project Image css */
.project-image {
    height : 150px ; 
    width  : 100% ; 
    /* background-color: red; */
}
.project-image img {
    height : 100% ; 
    width : 100% ; 
}
/* project name css */
.project-name {
    height : 32px ; 
    width : 100% ; 
    background-color: rgb(34,34,51);
    font-size : .8em ; 
    text-align: center;
    box-sizing: border-box;
    margin-bottom : 0px ; 
    text-decoration: underline;
    text-decoration-color: yellow;
}
/* project tech Stack  */
.project-techStack {
    width : 100% ; 
    height : auto ; 
    background-color: rgb(34,34,51) ; 
    font-size : .6em ; 
    padding-left : 10px ;
    padding-right : 10px ; 
    box-sizing: border-box; 
    border-bottom : 2px solid white ; 
    color : yellow
    
}
.techStackName {
    font-size : .9em ;
}

/* project description css */
.project-description {
    font-size : .6em ; 
    padding-left : 10px ; 
    padding-right : 10px ; 
    /* background-color: greenyellow; */
    /* border-bottom: 2px solid black; */
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    background-color: rgb(34,34,51) ; 
  
}

/* project navigation css */
.project-navigation {
    height : 50px ; 
    width : 100% ; 
    background-color: yellow;
    box-sizing: border-box;


    display: flex;
    flex-direction: row;
  

}
.project-navigation > div {
    width : 100% ; 
}
.project-code {
    
    box-sizing: border-box;
    font-size : .7em ;
    line-height: 50px;
    text-align: center;
    color : red ; 
}
.project-link {
 
    box-sizing: border-box; 
    font-size : .7em ;
    line-height: 50px;
    text-align: center;
    color : black ; 
}

.project-code a , 
.project-link a {
    text-decoration: none;
    color : black ; 
    font-weight: 600;
}
.project-info {

    box-sizing: border-box; 
    font-size : .7em ;
    line-height: 50px;
    text-align: center;
    color : green ;
    font-weight: 600;
}



/* New Project Css */

@media screen and (max-width : 360px) {
    .projectWrapper {
        height : 100% ; 
        width : 101.2% ; 
        background-color:rgb(31,27,44) ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
    
        overflow-x: hidden;
        overflow-y: scroll;
    
        font-size : 25px ; 
    }
}


