.tabout{
   height : 100% ; 
   width : 100% ; 
   overflow : hidden ;
   background-color: rgb(31,27,44);

}
.tabout-content {
    height : 100% ; 
    width : 101.5% ; 
    overflow-x: hidden;
    overflow-y: scroll;


    display: flex;
    flex-direction: row;

    font-size : 40px ; 
    color : white ; 
    position: relative;
}

.tabout-detail {
    height : 100% ; 
    width : 60% ; 
    box-sizing: border-box;
    /* border : 1px solid white ;  */

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tabout-picture {
    box-sizing: border-box;
    height : 100% ; 
    width :  100% ; 

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    /* overflow-x: hidden;
    overflow-y: scroll; */
}
.tabout-picture > div {
    height : 300px ; 
    width : 200px ; 
    margin : 20px ; 
    background-color: lemonchiffon ;
}

.tabout-detail > div {
    min-height : 100px ; 
    box-sizing: border-box;
    /* border : 1px solid white ;  */
}

.tabout-content-helper-1::before{
    content : "<html>" ; 
    font-size : 0.4em ; 
    position: relative;
    font-family: 'Dancing Script', cursive;
    color : rgb(131,131,131) ;
 }
.tabout-content-helper-1::after{
    content : "<body>" ; 
    font-size : 0.4em ; 
    position : relative ; 
    top : 20% ; 
    left : -2% ; 
    font-family: 'Dancing Script', cursive;
    color : rgb(131,131,131) ;

 }


 /* heading and h1 tag  */
.tabout-content-heading::before {
    content : "<h1>" ; 
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    color: #515152;
    font-size: 0.2em;

    /* position trial */
    position: absolute;
 }
.tabout-content-heading {
    color : rgb(5,253,216) ; 
    font-size : 2em ; 
    padding-left : 0.5em ;
}
.tabout-content-heading::after {
    content : "</h1>" ; 
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    color: #515152;
    font-size: 0.2em;

    /* position trial */
    position: relative;
    top : 0% ; 
 }

 /* css around paragaph */
 .tabout-content-paragraph::before{
    content : "<p>" ; 
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    /* color: #515152; */
    color : white ; 
    font-size: 0.8em;
    position : relative ; 
    top : -8% ; 
    color : rgb(131,131,131) ;
  
 }
.tabout-content-paragraph{
    font-family: 'Playfair Display', serif;
    font-size : 0.6em ; 

    padding-left : 0.6em ; 
    padding-right : 20px ; 
}
.tabout-content-paragraph::after{
    content : "</p>" ; 
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    /* color: #515152; */
    color : white ; 
    font-size: 0.8em;
    position : relative ; 
    top : 0% ; 
    color : rgb(131,131,131) ;
  
 }
.tabout-content-paragraph span {
    color : yellow ;
}

/* now helper div to close tag */
.tabout-content-helper-2::before{
    content : "</body>" ; 
    font-size : 0.4em ; 
    position : relative ; 
    top : 0% ; 
    left : 5% ; 
    font-family: 'Dancing Script', cursive;
    color : rgb(131,131,131) ;
}
.tabout-content-helper-2{
    position: relative;
}
.tabout-content-helper-2::after{
    content : "</html>" ; 
    font-size : 0.4em ; 
    position : absolute  ;
    top : 50% ; 
    left : 0% ; 
    font-family: 'Dancing Script', cursive;
    color : rgb(131,131,131) ;
   
}

@media  screen and (max-width : 1320px ) {
    .tabout-content {
        height : 100% ; 
        width : 100.7% ; 
        overflow-x: hidden;
        overflow-y: scroll;
    
    
        display: flex;
        flex-direction: row;
    
        font-size : 37px ; 
        color : white ; 

    }

    .tabout-detail {
        height : 100% ; 
        width : 100% ; 
        box-sizing: border-box;
        /* border : 1px solid white ;  */
    
        display: flex;
        flex-direction: column;
    }
    
}
@media  screen and (max-width : 1150px ) {
    .tabout-content {
        height : 100% ; 
        width : 100.7% ; 
        overflow-x: hidden;
        overflow-y: scroll;
    
    
        display: flex;
        flex-direction: row;
    
        font-size : 36px ; 
        color : white ; 

    }

    .tabout-detail {
        height : 100% ; 
        width : 100% ; 
        box-sizing: border-box;
        /* border : 1px solid white ;  */
    
        display: flex;
        flex-direction: column;
    }
    
}

.toggler {
    height : 50px ; 
    width : 100px ; 
    position: absolute;
    bottom : 5% ; 
    right : 2% ; 

    background-color: lightblue;
    border-radius : 30px ; 
    overflow: hidden;

    background-image: url('./to1.jpg');
}
.togglebutton {
    height : 100% ; 
    width : 50% ; 
    background-color: darkslategray;
    border-radius: 100%;

    position: relative;
    transition : .2s ;
}
.tabout-extra {
    height : 270px ; 
    width : 200px ; 
    overflow: hidden;
    border-radius : 10px ;
    box-shadow: 5px 10px 5px black;
  
  } 
  
.tabout-extra-tech > img , 
.tabout-extra > img { 
    height : 100% ; 
    width : 100% ; 
}
  
.tabout-extra-tech{
    height : 270px ; 
    width : 200px ; 
    overflow: hidden;
    border-radius : 10px ;
    box-shadow: 5px 10px 5px black;
    margin-top : 50px ;
}


/* I am deleting all height related media queries */
@media screen and (max-width : 800px) {
    .tabout-content {
        height : 100% ; 
        width : 101.5% ; 
        overflow-x: hidden;
        overflow-y: scroll;
    
    
        display: flex;
        flex-direction: row;
    
        font-size : 40px ; 
        color : white ; 

        /* improvise */
        font-size : 30px ; 

    }

    .tabout-detail > div {
        min-height : 60px ; 
        box-sizing: border-box;
        /* border : 1px solid white ;  */
    }

    .tabout-detail {
        height : 100% ; 
        width : 100% ; 
        box-sizing: border-box;
        /* border : 1px solid white ;  */
    
        display: flex;
        flex-direction: column;

      
    }
    .toggler {
        height : 40px ; 
        width : 80px ; 
        position: absolute;
        bottom : 5% ; 
        right : 2% ; 
    
        background-color: lightblue;
        border-radius : 30px ; 
        overflow: hidden;
    
        background-image: url('./to1.jpg');
    }
}
@media screen and (max-width : 412px) {
    .tabout-content {
        height : 100% ; 
        width : 101.7% ; 
        overflow-x: hidden;
        overflow-y: scroll;
    
    
        display: flex;
        flex-direction: row;
    
        font-size : 40px ; 
        color : white ; 

        /* improvise */
        font-size : 28px ; 

    }

    .tabout-detail > div {
        min-height : 60px ; 
        box-sizing: border-box;
        /* border : 1px solid white ;  */
    }

    .tabout-detail {
        height : 100% ; 
        width : 100% ; 
        box-sizing: border-box;
        /* border : 1px solid white ;  */
    
        display: flex;
        flex-direction: column;

       
    }
    .toggler {
        height : 30px ; 
        width : 60px ; 
        position: absolute;
        bottom : 5% ; 
        right : 2% ; 
    
        background-color: lightblue;
        border-radius : 30px ; 
        overflow: hidden;
    
        background-image: url('./to1.jpg');
    }
}
@media screen and (max-width : 375px) {
    .tabout-content {
        height : 100% ; 
        width : 100.7% ; 
        overflow-x: hidden;
        overflow-y: scroll;
    
    
        display: flex;
        flex-direction: row;
    
        font-size : 40px ; 
        color : white ; 

        /* improvise */
        font-size : 24px ; 

    }

    .tabout-detail > div {
        min-height : 60px ; 
        box-sizing: border-box;
        /* border : 1px solid white ;  */
    }

    .tabout-detail {
        height : 100% ; 
        width : 100% ; 
        box-sizing: border-box;
        /* border : 1px solid white ;  */
    
        display: flex;
        flex-direction: column;

       
    }
    .toggler {
        height : 20px ; 
        width : 40px ; 
        position: absolute;
        bottom : 5% ; 
        right : 2% ; 
    
        background-color: lightblue;
        border-radius : 30px ; 
        overflow: hidden;
    
        background-image: url('./to1.jpg');
    }
}
@media screen and (max-width : 360px) and (max-height : 640px) {
    .tabout-content {
        height : 100% ; 
        width : 100.7% ; 
        overflow-x: hidden;
        overflow-y: scroll;
    
    
        display: flex;
        flex-direction: row;
    
        font-size : 20px ; 
        color : white ; 

        /* improvise */
        font-size : 22px ; 

    }

    .tabout-detail > div {
        min-height : 60px ; 
        box-sizing: border-box;
        /* border : 1px solid white ;  */
    }

    .tabout-detail {
        height : 100% ; 
        width : 100% ; 
        box-sizing: border-box;
        /* border : 1px solid white ;  */
    
        display: flex;
        flex-direction: column;

    }
    .toggler {
        height : 15px ; 
        width : 30px ; 
        position: absolute;
        bottom : 5% ; 
        right : 2% ; 
    
        background-color: lightblue;
        border-radius : 30px ; 
        overflow: hidden;
    
        background-image: url('./to1.jpg');
    }
}

